Repository rstuart-indue/puppet-mspackages: changes, and which GitLab CI jobs are due for each by the changed paths.
All: syntax lint metadata_lint check:symlinks check:git_ignore check:dot_underscore check:test_file rubocop-Ruby 2.5.3-Puppet ~> 6, parallel_spec-Ruby 2.5.3-Puppet ~> 6, parallel_spec-Ruby 2.4.5-Puppet ~> 5, pdk build

.gitlab-ci.yml:

---
stages:
  - syntax
  - unit
  - build

cache:
  paths:
    - vendor/bundle

before_script:
  - bundle -v
  - rm Gemfile.lock || true
  - gem update --system $RUBYGEMS_VERSION
  - gem --version
  - bundle -v
  - bundle install --without system_tests --path vendor/bundle --jobs $(nproc)

syntax lint metadata_lint check:symlinks check:git_ignore check:dot_underscore check:test_file rubocop-Ruby 2.5.3-Puppet ~> 6:
  stage: syntax
  image: ruby:2.5.3
  script:
    - bundle exec rake syntax lint metadata_lint check:symlinks check:git_ignore check:dot_underscore check:test_file rubocop
  only:
    changes:
      - Gemfile
      - "*.{json,pp,rb,yml}"
  variables:
    PUPPET_GEM_VERSION: '~> 6'

parallel_spec-Ruby 2.5.3-Puppet ~> 6:
  stage: unit
  image: ruby:2.5.3
  script:
    - bundle exec rake parallel_spec
  only:
    changes:
      - Gemfile
      - "*.{json,pp,rb,yml}"
  variables:
    PUPPET_GEM_VERSION: '~> 6'

parallel_spec-Ruby 2.4.5-Puppet ~> 5:
  stage: unit
  image: ruby:2.4.5
  script:
    - bundle exec rake parallel_spec
  only:
    changes:
      - Gemfile
      - "*.{json,pp,rb,yml}"
  variables:
    PUPPET_GEM_VERSION: '~> 5'

pdk build:
    stage: build
    image: ccaum/puppet-dev-tools:latest
    script: pdk build
    only:
      changes:
        - Gemfile
        - "*.{json.pp,rb,yml}"
      refs:
        - master
    artifacts:
      paths:
        - pkg/

Add support for Debian and Ubuntu
  .fixtures.yml
  .gitignore
  .gitlab-ci.yml
  .rubocop.yml
  .travis.yml
  CHANGELOG.md
  Gemfile
  README.md
  Rakefile
  appveyor.yml
  manifests/package.pp
  manifests/repository.pp
  metadata.json
  spec/default_facts.yml
  spec/spec_helper.rb
Due: syntax lint metadata_lint check:symlinks check:git_ignore check:dot_underscore check:test_file rubocop-Ruby 2.5.3-Puppet ~> 6, parallel_spec-Ruby 2.5.3-Puppet ~> 6, parallel_spec-Ruby 2.4.5-Puppet ~> 5, pdk build

Upgrade PDK version from 1.18.0 to 2.1.1 and add updated Ubuntu/RHEL support
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitignore
  .gitlab-ci.yml
  .pdkignore
  .rubocop.yml
  .travis.yml
  CHANGELOG.md
  Gemfile
  Rakefile
  appveyor.yml
  metadata.json
  spec/spec_helper.rb
Due: syntax lint metadata_lint check:symlinks check:git_ignore check:dot_underscore check:test_file rubocop-Ruby 2.5.3-Puppet ~> 6, parallel_spec-Ruby 2.5.3-Puppet ~> 6, parallel_spec-Ruby 2.4.5-Puppet ~> 5, pdk build

Update support for Ubuntu 20.10 and RHEL 8
  CHANGELOG.md
  manifests/repository.pp
Due: none

Add RHEL 8
  manifests/package.pp
Due: none

Fix gitlab-ci.yml
  .gitlab-ci.yml
Due: syntax lint metadata_lint check:symlinks check:git_ignore check:dot_underscore check:test_file rubocop-Ruby 2.5.3-Puppet ~> 6, parallel_spec-Ruby 2.5.3-Puppet ~> 6, parallel_spec-Ruby 2.4.5-Puppet ~> 5, pdk build

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: syntax lint metadata_lint check:symlinks check:git_ignore check:dot_underscore check:test_file rubocop-Ruby 2.5.3-Puppet ~> 6, parallel_spec-Ruby 2.5.3-Puppet ~> 6, parallel_spec-Ruby 2.4.5-Puppet ~> 5, pdk build

Update .travis.yml
  .travis.yml
Due: syntax lint metadata_lint check:symlinks check:git_ignore check:dot_underscore check:test_file rubocop-Ruby 2.5.3-Puppet ~> 6, parallel_spec-Ruby 2.5.3-Puppet ~> 6, parallel_spec-Ruby 2.4.5-Puppet ~> 5, pdk build

updated types
  manifests/init.pp
  manifests/package.pp
Due: none

switch to using facts var; add rhel9
  manifests/package.pp
  manifests/repository.pp
  metadata.json
Due: syntax lint metadata_lint check:symlinks check:git_ignore check:dot_underscore check:test_file rubocop-Ruby 2.5.3-Puppet ~> 6, parallel_spec-Ruby 2.5.3-Puppet ~> 6, parallel_spec-Ruby 2.4.5-Puppet ~> 5

add flag to disable repo management
  manifests/init.pp
  manifests/repository.pp
Due: none

simplified $ensure param
  manifests/package.pp
Due: none

remove stdlib type from init
  manifests/init.pp
Due: none

fix ensure param
  manifests/package.pp
Due: none

s/lsbdistcodename/facts.os.distro.codename/
  manifests/repository.pp
Due: none

misc syntax errors
  manifests/repository.pp
Due: none
